{{- $lightBG := "#49ABD9" -}}
{{- $lighterBG := "#94C3D9" -}}
{{- $brandColor := "#0891d1" -}}
{{- $magicMarker := "#FFF600" -}}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid {{$brandColor}};
}

.footer-container,
.main aside {
    border-top: 20px solid {{$brandColor}};
}

.header-container,
.footer-container,
.main aside {
    background: {{$lightBG}};
}

.title {
    color: white;
}

em {
    background: {{$magicMarker}};
    padding: 2px;
}

/* Links in normal text are blue with blue underline on hover */
a, a:visited {
    color:  {{$brandColor}};
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Links in an aside are just bolded, as they are probably navigation links */
aside a, aside a:hover, aside a:visited {
    color: white;
    font-weight: bold;
    border: none;
    text-decoration: none;
}
/* ... except if they are inside a <p> (running text), when we instead add a
yellow underline to highlight them. */
aside p>a, aside p>a:hover, aside p>a:visited {
    font-weight: normal;
    border-bottom: 2px solid {{$magicMarker}};
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: {{$lightBG}};

    white-space: nowrap;
}

nav .selected a {
    background: {{$brandColor}};
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        display: inline-block;
        margin: 0 1.7%;
        padding: 25px;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline-block;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: Header font
   ==================== */

    @import url(font/raleway.css);
    nav, h1, h2, h3, h4, em {
        font-family: "Raleway";
    }

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }

    .main.no-asides article {
        float: none;
        width: 100%;
    }
    .main.no-asides article section {
        max-width: 50em;
    }
    .main.no-asides article section pre {
        overflow: visible;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

table.wide {
    width: 100%;
}

.right {
    text-align: right;
}

tr.total {
    border-top: 1px solid #eee;
    font-style: italic;
}

.logo {
    margin: 11px;
    float: left;
    height:45px;
    background: white;
    padding: 4px;
    border-radius: 4px;
}

a.appstore img {
    padding: 5px;
    height: 40px;
}

aside ul {
    padding-left: 0;
}

aside+aside {
    margin-top: 25px;
}

dt {
    font-weight: bold;
}
dd {
    margin-left: 1.25em;
    margin-bottom: 0.5em;
}

button.button {
  position: relative;
  vertical-align: top;
  width: 40%;
  height: 40px;
  padding: 0;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: {{$lightBG}};
  border: 0;
  border-bottom: 2px solid {{$brandColor}};
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px {{$brandColor}};
  box-shadow: inset 0 -2px {{$brandColor}};
}
button.button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input.number {
  position: relative;
  vertical-align: top;
  width: 40%;
  height: 40px;
  padding: 0;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: {{$lightBG}};
  border: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}