<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

{{define "downloads"}}
{{with .LatestVersion}}
<details>
<summary>Downloads</summary>
<h3>Version {{.FriendlyName}} <small>({{.ReleaseDate}})</small></h3>
<ul>
    {{range .SortedAssets}}
    <li><a href="{{.URL}}">{{.FriendlyName}}</a></li>
    {{end}}
</ul>
{{end}}

{{if .HasOlderVersions}}
<details>
    <summary>Older versions</summary>
    {{range .OlderVersions}}
    <h4>Version {{.FriendlyName}} <small>({{.ReleaseDate}})</small></h4>
    <ul>
        {{range .SortedAssets}}
        <li><a href="{{.URL}}">{{.FriendlyName}}</a></li>
        {{end}}
    </ul>
    {{end}}
</details>
</details>
{{end}}
{{end}}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="details-shim/details-shim.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="details-shim/details-shim.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="header-container">
        <header class="wrapper clearfix">
            <img src="img/logo-square.png" id="logo"><h1 class="title">Syncthing</h1>
            <nav>
                <ul>
                    <li><a href="/"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                    <li class="selected"><a href="downloads.html"><i class="fa fa-download"></i>&nbsp;Downloads</a></li>
                    <li><a href="donate.html"><i class="fa fa-heart"></i>&nbsp;Donate</a></li>
                    <li><a href="security.html"><i class="fa fa-lock"></i>&nbsp;Security</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="main-container">
        <div class="main wrapper clearfix">
            <article>
                <section id="synctrayzor">
                    <h1>SyncTrayzor</h1>
                    <p>SyncTrayzor provides a <em>native GUI experience</em> on <em>Windows</em>. SyncTrayzor automatically downloads and uses the latest version of Syncthing.
                    See also <a href="https://github.com/canton7/synctrayzor">source code</a> and <a href="https://github.com/canton7/synctrayzor/issues">issue tracker</a> for SyncTrayzor.</p>
                    {{template "downloads" .synctrayzor}}
                </section>

                <section>
                    <h1>Syncthing-GTK</h1>
                    <p>
                        Syncthing-GTK provides a <em>native GUI experience</em> on <em>Linux and Windows</em>. Syncthing-GTK automatically downloads and uses the latest version of Syncthing.
                    For installation instructions for Linux, please visit the <a href="https://github.com/syncthing/synthing-gtk/">project page</a>.
                    See also <a href="https://github.com/syncthing/syncthing-gtk">source code</a> and <a href="https://github.com/syncthing/syncthing-gtk/issues">issue tracker</a> for Syncthing-GTK.</p>
                    </p>
                    {{template "downloads" .syncthinggtk}}
                </section>

                <section id="syncthing">
                    <h1>Syncthing</h1>
                    <p>Syncthing is the component that implements the sync and discovery mechanisms. Use this on by itself on <em>other platforms</em>, <em>servers</em> or computers where you want a <em>web based user interface</em>.
                    See also <a href="https://github.com/syncthing/syncthing">source code</a> and <a href="https://github.com/syncthing/syncthing/issues">issue tracker</a> for Syncthing.</p>
                    <p>The packages linked here are executables with automatic upgrade capability. For Debian based Linux systems there is also an <a href="https://apt.syncthing.net/">APT repository</a>.</p>
                    {{template "downloads" .syncthing}}
                </section>

                <section>
                    <h1>Extra Components</h1>
                    <h2>Discovery Server</h2>
                    <p>To run your own discovery server. See <a href="https://docs.syncthing.net/users/discosrv.html">the documenation</a>.</p>
                    {{template "downloads" .discosrv}}
                    <h2>Relay Server</h2>
                    <p>To run your own relay server, or add one to the public pool. See <a href="https://docs.syncthing.net/users/relaying.html">the documentation</a>.</p>
                    {{template "downloads" .discosrv}}
                </section>
            </article>

            <aside>
                <h2>Android</h2>
                <p>There is a packaging of <a href="https://github.com/syncthing/syncthing-android" target="_blank">Syncthing for Android devices</a>. It wraps a specially compiled Syncthing with a native GUI.</p>
                <a class="appstore" href="https://play.google.com/store/apps/details?id=com.nutomic.syncthingandroid"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png"></a>
                <a class="appstore" href="https://f-droid.org/repository/browse/?fdid=com.nutomic.syncthingandroid"><img alt="Get it on F-Droid" src="https://f-droid.org/wiki/images/0/06/F-Droid-button_get-it-on.png"></a>
            </aside>

            <aside>
                <h2>Contributions</h2>
                <p>There is a list of further <a href="https://docs.syncthing.net/users/contrib.html">community contributions</a> on the documentation site. These are add-ons, frontends, packagings and so on created by the wider community and provided in the hope that they may be useful.</p>
                <p>These are not necessarily tested, vetted or endorsed by the Syncthing team themselves.</p>
            </aside>

            <aside>
                <h2>Upgrading</h2>
                <p>Syncthing will attempt to keep itself updated with the latest bug fixes automatically. It will only upgrade to versions that are known to be compatible. This is recommended for all users.</p>
                <p>If you are using the APT repository or another package manager, please use the package manager to keep up to date. Automatic upgrades are not managed by Syncthing in this case.</p>
            </aside>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>

</html>